/* */
/* --------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

/* RESET CSS */
* {
	padding: 0;
	margin: 0;
	border: none;
}
/* --------- */


/* VARIÁVEIS (CORES) */
:root {
    --branco-tom-azul: #D6E2E7;
	--azul-pastel: #AEC6CF;
    --azul: #86AAB7;
    --azul-escuro: #5E8D9F;
    --azul-intenso: #476A77;
    --cinza-tom-azul: #36454F;
    --preto-tom-azul: #1C2429;
}
/* ----------------- */


/* HTML (CONFIGURAÇÕES GERAIS) */
html {
	background-color: var(--azul);
	display: block;
	margin: auto;
	text-align: center;
}
/* --------------------------- */


/* APRESENTAÇÃO (PERFIL, NOME E DESCRIÇÃO BREVE) */
.Apresentação {
    margin: 0 0 5rem 0;
    padding: 4rem;
    background-color: var(--azul-intenso);
    font-size: 1.25em;
    color: var(--preto-tom-azul);
    box-shadow: 5px 8px 10px var(--cinza-tom-azul);
}

.Apresentação img {
}

.Apresentação .Nome, h1 {
    font-style: italic;
}
/* --------------------------------------------- */


/* ESPECIALIDADES (BOTÕES) */
.Habilidades {
}

button {
    
}
/* --------------------------------------------- */

