@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* RESET CSS */
* {
	padding: 0;
	margin: 0;
	border: none;
}
/* --------- */


/* VARIÁVEIS (CORES) */
:root {
    --preto: #171716;
    --cinza-escuro: #2e2e2c;
    --cinza: #454442;
    --cinza-claro: #5c5b58;
    --branco-acinzentado: #a0a099;
    --branco-acin-claro: #cecdc5;
    --branco: #e5e4db;

    --Orbi: #3d2f6b;
    --Taman: #c72c41;
    --LosD: #993935;
    --Miosó: #2c3d5b;
}
/* ----------------- */


/* HTML (CONFIGURAÇÕES GERAIS) */
html {
	background-color: var(--branco-acin-claro);
	display: block;
	margin: auto;
	text-align: center;
    font-family: "Delius", cursive;
    color: var(--branco-acinzentado);
}
/* --------------------------- */


/* APRESENTAÇÃO (PERFIL, NOME E DESCRIÇÃO BREVE) */
#Apresentação {
    margin: 0 0 5rem 0;
    padding: 4rem;
    background-color: var(--preto);
    font-size: 1.25em;
    outline: 15px double var(--cinza-escuro);
}

#Apresentação img {
    width: 20%;
    border-radius: 50%;
    outline: 20px double var(--cinza-escuro);
    margin: 2.5rem;
    opacity: 90%;
    transition: 0.3s;
}

#Apresentação img:hover {
    opacity: 100%;
}

#Apresentação .Nome {
    font-style: italic;
}

#Apresentação h4 {
    font-family: "Meow Script", cursive;
    font-size: 2rem;
}

#Apresentação h4, h2, p {
    line-height: 2;
}
/* --------------------------------------------- */


/* ESPECIALIDADES (BOTÕES) */
#Especialidades {
    margin: 5rem 1rem;
}

.Habilidades {
    font-size: 4em;
    color: var(--preto);
    font-family: "Meow Script", cursive;
}

button {
    box-shadow: 1px 1px 20px var(--preto);
    background-color: var(--cinza-escuro);
    font-size: 2em;
    border-radius: 5%;
    margin: 1rem 1.5rem;
    color: var(--branco-acinzentado);
    cursor: pointer;
    padding: 1% 2%;
    font-family: "Delius", cursive;
    font-weight: bold;
}

button:hover {
    color: var(--cinza-escuro);
    background-color: var(--branco-acinzentado);
}
/* ----------------------- */


/* PROJETOS (MURAIS E LINKS) */
.Subtítulo {
    font-size: 4em;
    text-align: left;
    margin-left: 5rem;
    font-family: "Meow Script", cursive;
    color: var(--preto);
}

#Projetos .Imagens {
    width: 80%;
    border-radius: 2.5%;
}

#Projetos h3 {
    font-family: "Meow Script", cursive;
    font-size: 3em;
}

#Projetos .T1 {
    color: var(--Orbi);
}

#Projetos .T2 {
    color: var(--Taman);
}

#Projetos .T3 {
    color: var(--LosD);
}

#Projetos .T4 {
    color: var(--Miosó);
}

.Projetos {
    border: 5px ridge var(--branco-acin-claro);
    background-color: var(--branco);
    border-radius: 2.5%;
    padding: 2rem;
    margin: 3rem;
    opacity: 90%;
    transition: 0.3s;
}

.Projetos_1e2 {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 3rem;
}

.Projetos_3e4 {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 3rem;
}

.Projetos a {
    font-style: italic;
}

.Projetos a:hover {
    font-weight: bold;
}

.Projetos:hover {
    cursor: pointer;
    opacity: 100%;
}
/* ------------------------- */


/* INFORMAÇÕES FINAIS (CONTATO E COPYRIGHT) */
.Contato_1 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 2rem 0  1rem 10rem;
}

.Contato_2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 10rem;
}

.Contato_1 a, .Contato_2 a {
    margin-left: 1.5rem;
}

.Informações_Finais a {
    color: var(--preto);
    font-weight: bold;
    text-transform: uppercase;
}

.Informações_Finais a:hover {
    font-style: italic;
}

.Copyright {
    color: var(--cinza-escuro);
    margin: 3rem;
    font-size: 1.5em;
}
/* ----------------------------------------- */
